<%= form_with(model: vocabulary, local: true) do |form| %>
  <% if vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
      <% vocabulary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-6">
    <%= form.label "英単語" %>
    <%= form.text_field :word, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= form.label "意味" %>
    <%= form.text_field :meaning, class: "form-control" %>
  </div>

  <div class="actions col-sm-6">
    <%= form.submit "新しい単語を登録する", class: "btn btn-primary" %>
  </div>
<% end %>
