<p id="notice"><%= notice %></p>

<h1>英単語一覧ページ</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>英単語</th>
    <th>意味</th>
    <th>詳細ページ</th>
    <th>編集ページ</th>
    <th>削除ページ</th>
  </tr>
  </thead>

  <tbody>
  <% @vocabularies.each do |vocabulary| %>
    <tr>
      <td><%= vocabulary.id %></td>
      <td><%= vocabulary.word %></td>
      <td><%= vocabulary.meaning %></td>
      <td><%= link_to 'Show', vocabulary %></td>
      <td><%= link_to 'Edit', edit_vocabulary_path(vocabulary) %></td>
      <td><%= link_to 'Destroy', vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @vocabularies %>

<%= search_form_for @search  do |f| %>
  <div class="form-group">
    <%= f.label :word_cont, "英単語入力欄" %>
    <%= f.text_field :word_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "検索する" %></div>
<% end %>

<%= search_form_for @search  do |f| %>
  <div class="form-group">
    <%= f.label :meaning_cont, "日本語訳入力欄" %>
    <%= f.text_field :meaning_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "検索する" %></div>
<% end %>

<% if @result.any? %>
  検索結果(id & word & meaning): <%= @result_word %> <%= @result_meaning %><br>
  その単語を編集する場合はこちら → <%= link_to 'Edit', edit_vocabulary_path(@result_vocabulary) %>
<% end %>

<br>