.row
  %aside.col-md-3
    %h1 &#x65B0;&#x898F;&#x767B;&#x9332;
    = render 'form', vocabulary: @vocabulary
  .col-md-9
    %h1 &#x82F1;&#x5358;&#x8A9E;&#x4E00;&#x89A7;
    = render 'vocabularies', vocabularies: @vocabularies
  %br
    = link_to '新しい単語を登録する', new_vocabulary_path
  %br
    = link_to '英語→日本語モード', english_path
  %br
    = link_to '日本語→英語モード', japanies_path
= search_form_for @search  do |f|
  .form-group
    = f.label :word_cont, "英単語入力欄"
    = f.text_field :word_cont, class: "form-control"
  .actions= f.submit "検索する"
= search_form_for @search  do |f|
  .form-group
    = f.label :meaning_cont, "日本語訳入力欄"
    = f.text_field :meaning_cont, class: "form-control"
  .actions= f.submit "検索する"
- if @result.any?
  \&#x691C;&#x7D22;&#x7D50;&#x679C;(id  word  meaning): #{@result_word} #{@result_meaning}
  %br
    \&#x305D;&#x306E;&#x5358;&#x8A9E;&#x3092;&#x7DE8;&#x96C6;&#x3059;&#x308B;&#x5834;&#x5408;&#x306F;&#x3053;&#x3061;&#x3089; &#x2192; #{link_to 'Edit', edit_vocabulary_path(@result_vocabulary)}
